.card {
  background: #fff;
  padding: 36px;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  font-size: 18px; }
  .card .card-text {
    line-height: 1.7em; }
  .card .card-title {
    font-size: 27px;
    line-height: 1.5em; }
    .card .card-title:not(:last-child) {
      margin-bottom: 18px; }
    .card .card-title .card-subtitle {
      font-size: 75%;
      opacity: 0.8; }
  .card.bg {
    background: #454837;
    color: white; }
  .card.simple.icon {
    display: flex;
    align-items: center;
    justify-content: space-bewteen; }
    .card.simple.icon .card-icon {
      flex: 1;
      text-align: center;
      margin-right: 18px; }
      .card.simple.icon .card-icon img {
        max-width: 100%; }
    .card.simple.icon .card-text {
      flex: 7;
      margin-left: 18px; }
  .card.simple.image {
    padding: 0;
    position: relative; }
    .card.simple.image .card-image {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 30%; }
      .card.simple.image .card-image img {
        max-width: 100%;
        height: 100%;
        object-fit: cover; }
    .card.simple.image .card-text {
      padding: 36px;
      margin-left: 30%; }
    .card.simple.image.reverse .card-image {
      left: initial;
      right: 0; }
    .card.simple.image.reverse .card-text {
      left: 0;
      right: initial;
      margin-right: 30%;
      margin-left: initial; }
  .card.title.icon .card-title {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 18px; }
  .card.title.title-bg {
    padding: 0; }
    .card.title.title-bg .card-title {
      background: #454837;
      padding: 36px;
      color: white;
      margin-bottom: 0; }
    .card.title.title-bg .card-text {
      padding: 36px; }
    .card.title.title-bg.small-pad .card-title, .card.title.title-bg.small-pad .card-text {
      padding: 18px; }
  .card.img {
    padding: 0; }
    .card.img .card-image {
      position: relative;
      height: 150px; }
      .card.img .card-image img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    .card.img .card-title {
      font-weight: bold;
      padding: 36px;
      text-align: center;
      margin-bottom: 0;
      color: white;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .card.img .card-text {
      padding: 36px; }
  .card.profile {
    text-align: center; }
    .card.profile .card-image {
      margin-bottom: 18px; }
      .card.profile .card-image img {
        width: 128px;
        height: 128px;
        border-radius: 100%; }
        .card.profile .card-image img.small {
          width: 96px;
          height: 96px; }
    .card.profile.alternate {
      display: flex;
      align-items: center;
      justify-content: space-between;
      text-align: left; }
      .card.profile.alternate .card-image {
        text-align: center;
        flex: 1;
        margin: 0; }
      .card.profile.alternate .text {
        padding-left: 36px;
        flex: 8; }
  .card.small-pad {
    padding: 18px; }

/*# sourceMappingURL=cards.css.map */
